
body {
    background-color: grey;
    height: 100%;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    display:grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:auto auto auto auto;
    background-color: grey;
  
    max-width:100%;
}

.card {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    margin: auto;
 
    border: 5px solid grey;
    width: 250px;
    height: 250px;
    grid-gap: 8px 8px;
    cursor: pointer;
}

.disabled {

    background:tomato;
    width: 250px;
    height: 250px
    hover

}

.disabled:hover {
    background:red;

}

.disabled img  {
 
    width: 250px;
    height: 250px;
   opacity: 0;
  
   
}

.open img {
    width: 250px;
    height: 250px;
   
}

.match img {
    width: 250px;
    height: 250px;
}

.card .open img {
    width: 250px;
    height: 250px;
}

img {
    width: 250px;
    height: 250px;
}

