
h1 {
    text-align: center;
}

.container {
    display:grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:auto;
    background-color: grey;
   
    max-width:100%;
}

.card {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    margin: 0;
   
   

   
}

img {
    width: 300px;
    height: 300px;
}


