


body {
    background-color: grey;
    margin: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.wrapper {
    height: fit-content;
    width: fit-content;
    margin: auto;
}


.container {
    display:grid;
    grid-template-columns:repeat(4, minmax(150px, 1fr));
    grid-template-rows:repeat(4,minmax(150px, 1fr));
    background-color: grey;
    margin: auto;
}

.card {
   
    border: 5px solid grey;
    width: 150px;
    height: 150px;
    grid-gap: 8px 8px;
    cursor: pointer;
}

.disabled {
    background:tomato;
}

.disabled:hover {
    background:red;

}

.disabled img  {
   opacity: 0;
  
}


img {
    width: 140px;
    height: 140px;
}

